{% extends "base.html" %}
{% block symptom_page %}
	<section id="faq" class="faq section-bg">
		<div class="container" align='center'>
			<img src={{url_for ('static', filename = 'img/misc/stock-photo-partial-view-female-doctor-using.jpg')}} alt = 'sign' width="600" height="400">
			<br><br><br><br>
		</div>
		<div class='container'>
			<h4><i>Biz Kimiz?</i></h4><br>
			<p>Kırıkkale Online Tıp, iletişimi doğru bir şekilde yönetmek için teknolojiyi bir köprü olarak kullanarak hastanın kapısına kadar ilaç sağlamak için başlatılan bir teletıp girişimidir. Mevcut boşlukları doldurmak ve çözümler sunmak için teknolojiyi kullanarak tıpta devrim yaratan bir hareketin başlangıcıdır.</p><br>
			<h4><i>Hedeflerimiz</i></h4>
			<p> <ol>
				<li>Laboratuvar testi örneklemesini daha sorunsuz bir süreç haline getirmek için</li>
				<li>İlaçları hastaların evlerinin rahatlığında ulaştırabilmek</li>
				<li>Bir hastanın semptomlarının şiddetini belirlemeye yardımcı olarak sağlık görevlileri üzerindeki yükü azaltmak</li>
				<li>Düzenli olarak ihtiyaç duyulan ilaçların teslimatını otomatikleştirmek</li>
				<li>Randevuları planlamak için teknolojiyi kullanmak</li>
				<li>Hastalara bildirimler yoluyla ilaçlarını zamanında almalarını hatırlatmak bizim hedeflerimizden sadece birkaçıdır.</li>
			</ol></p><br>
			<h4><i>Bizim Mottomuz</i></h4><br>
			<p>Teknoloji ve tıp sektörlerinin birleşmesi ile kaliteli hizmet sunmada çabalamak ve hastanın hastalık sürecini kolay atlatmasını sağlamak.</p>
		</div>

	</section>

{% endblock %}




