{% extends "base.html" %}
{% block symptom_page %}
	<section id="gallery" class="gallery">
		<div class="container">
			<img src="{{url_for ('static', filename = 'img/misc/hasta-haklari.jpg')}}" alt = 'sign' width="800" height="400" align='center'>
			<br> <br>
			<h4 align = 'center'><u>Hasta Hakları ve Anlaşmalı Kurumlar</u></h4> <br>
			<p>
				<h5> Hasta, Hasta Yakınının Hakları ve Sorumlulukları </h5> <br>
				<ul><li><b>Hizmetlerden yararlanma hakkı</b></li>
					<p>Hastanemize başvuran tüm hasta ve hasta yakınlarının, hastanemizden hizmet aldıkları süre içinde sahip oldukları tüm haklarına saygı duyuyor ve onların da sorumluluklarını yerine getirmelerini bekliyoruz. T.C. Sağlık Bakanlığı’nın Hasta Hakları Yönetmeliği yönergesi ile uluslararası hasta/hasta yakını hak ve sorumluluklarından yararlanarak hazırladığımız bu el kitabı ile, siz değerli hasta ve hasta yakınlarımızı kendi hak ve sorumlulukları konusunda bilgilendirmeyi amaçladık. Tanı ve tedavi amacıyla hastanemize başvuran her birey, hastanemiz çalışanları tarafından benimsenmiş haklarını her zaman talep edebilirler.</p>
					<li><b>Mahremiyet / Bilgi Edinme / Haberleşme Hakkı</b></li>
					<p>Hastalarımız, KVKK kurallarınca kendilerine ait tıbbi bilgilerin gizliliğinin ölümden sonra bile korunması hakkına sahiptir. Bu bilgiler hastanın ya da varislerinin açık izni ya da mahkeme kararı doğrultusunda ilgili mercilere açıklanır. Tıbbi gereklilik olmadığı ve izin vermediği sürece, hangi gerekçeyle olursa olsun, hastamız kendisine dair özel ve aile yaşamına ilişkin bilgi verilmemesi hakkına sahiptir.</p>
                    <p>Hastalarımız, tanı ve tedavi süreçleri ile tedavinin gidişatına ilişkin tam ve yeni bilgilerinin ve dokümanlarının bir kopyasını almayı ve bunlara bakmayı talep etme hakkına sahiptir.</p>
				<br>

				</ul>

				<h6> <b> Güvenliğiniz için Dikkat Etmeniz Gerekenler  </b> </h6>
			<p>Kendi tedavi planınızı bilmeniz ve tedavinize katılmanız, hastanemizden daha hızlı ve güvenli bir şekilde ayrılmanızı sağlar. Bu nedenle yanınızda getirdiğiniz ve kullandığınız her türlü ilacı, hekiminize ve hemşirenize bildirerek teslim etmenizi rica ediyoruz. Hekiminize veya hemşirenize herhangi bir gıda veya ilaca karşı bildiğiniz bir alerjiniz ya da reaksiyonunuz varsa mutlaka bildirmelisiniz. Hastanemizi ziyaretiniz süresince kullandığınız ilaçları takip etmeniz ve hangi ilaçları, neden aldığınızı bilmeniz son derece önemli. Size herhangi bir ilaç vermeden önce hemşirenizin, üzerinde bilgilerinizin yazılı olduğu kimlik bilekliğini kontrol ettiklerinden emin olun. Tedavi ve bakım planına katılımınız Tedavi ve bakım sürecinize katılımınız, hangi tedavinin, neden yapıldığını bilmeniz ve bu süreci daha kolay atlatmanız açısından gereklidir. Bu sebeple;</p>
				<ol><p>Hemşire ve hekiminizle tedavi ve bakımınızı konuşun.</p>
					<p>Tedavinizi anladığınızdan emin olun ve anlamadığınız şeyleri sormaktan çekinmeyin.</p>
					<p>Ameliyat olacaksanız hekiminizden uygulanacak işlemlerle ilgili bilgi alın. </p>
				    <p> Eğer ağrınız varsa hemşire ve hekiminize bilgi verin. Böylece onlar gerekli işlemleri yapacaklardır.</p>
					</ol>

					<br>
				<h6> <b> El Yıkama ve Enfeksiyonlardan Korunma </b> </h6>
					<p>Elleri doğru yöntemlerle yıkamak, enfeksiyonları önlemede en önemli uygulamadır. Bu nedenle ellerinizi sık sık ve uygun bir şekilde yıkamalısınız. Tüm sağlık ekibi üyelerimiz ise, size herhangi bir işlem yapmadan önce el hijyenini sağlamakla yükümlüdür. Gerekirse hatırlatarak uyarıda bulunmalısınız. Hastanemizin hasta bakım alanlarının tamamına ve hasta odalarına koyulan el yıkama ünitelerinden, aşağıdaki uyarılara dikkat ederek yararlanabilirsiniz. Ellerinizi;</p>
                    <ol><p>Pansuman bölgesine dokunmadan önce ve sonra,</p>
					<p>Hastanıza / kendinize kişisel bakım yapmadan önce ve sonra,</p>
					<p>Her hasta odasına giriş ve çıkışta 15 saniye süre ile su ve sabunla yıkayın. </p>
					</ol>
			<h6> <b> Yaralanmalara Karşı Alacağınız Önlemler </b> </h6>
			    <ol><p>Vücudunuzun herhangi bir bölgesinde tedavi amacıyla sonda, iğne, tüp, pansuman varsa o bölgenin temiz ve kuru kalmasını sağlayın. Bu bölgelerde kızarıklık, ağrı, akıntı, pansumanda ıslanma ve bozulma olduğunda mutlaka hemşirenize / hekiminize bilgi verin.</p>
					<p>Eğer hekim veya hemşireniz tek başınıza kalkmamanız konusunda sizi uyardıysa, bunu önemseyin ve kalkmak için mutlaka yardım isteyin.</p>
					<p>Ayağınızın kaymasını önlemek için altı lastik olan terlikleri tercih edin. Yerlerin ıslak olduğunu belirten levhalara dikkat edin. </p>
					</ol>
			<p> Sağlık sigortası hakkında daha fazla bilgi edinmek ve poliçeleri karşılaştırmak için aşağıdakileri ziyaret ederek başlayabilirsiniz.
				<a href="https://www.anadolusigorta.com.tr/urunler/saglik-sigortalari/bireysel-saglik-sigortasi?gclid=CjwKCAjwoduRBhA4EiwACL5RP8WOaCdXqBKp5STRYSoDDSGdsEhtqXfUBxQKyPIkasFSVoiX3_CMaBoC1McQAvD_BwE">Sağlık Sigortası Bilgilendirmesi</a> <br> Çeşitli Sağlık Sigortası  şirketlerinden sadece birini sizinle paylaşmaktayım. Üçüncü taraf sitelerde sunulan hiçbir politikayı onaylamadığını unutmayın. Lütfen kendi takdirinize göre seçim yapınız.</p>
			</p>
		</div>
	</section>

{% endblock %}